<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Scott</h2>
                <hr class="light">
                <p class="text-faded">​Scott Leese is one of the top startup sales leaders in the country. Through domestic and international consulting, he has trained an army of salespeople thousands strong. Leese puts his more than thirteen years of sales and leadership experience to use as the Founder of Scott Leese Consulting, LLC and as the Senior Vice President of Sales for Qualia Labs, Inc., based in San Francisco, CA. A highly sought-after consultant, advisor, leader, and trainer, Leese has a proven record of startup success building sales teams from the ground up. Scott Leese makes learning sales easy and fun. He has helped to create many successful organizations and has shaped thousands of individuals into highly sought after sales leaders. Areas of expertise include: Sales and Leadership Seminars, Consulting and Coaching, Public Speaking Events, Conferences, Sales Training and more!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
