<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Scott Leese Consulting</h1>
            <hr>
            <p>The 2019 Sales & Surf Summit is underway! More news to come..</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            <!-- <a href="https://www.surfandsales.com" class="btn btn-primary btn-xl" target="_blank"><span class="wsite-button-inner">Find Out More</span></a> -->
        </div>
    </div>
</header>
